
.app-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.app-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus, select:focus {
  border-color: #0056b3;
}

span {
  color: red;
  font-size: 12px;
}

button[type='submit'] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

button.save-button,
button.cancel-button,
button.edit-button,
button.delete-button {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button.save-button:hover {
  background-color: #218838;
}

button.cancel-button {
  background-color: #dc3545;
}

button.cancel-button:hover {
  background-color: #c82333;
}

button.edit-button {
  background-color: #ffc107;
  color: black;
}

button.edit-button:hover {
  background-color: #e0a800;
}

button.delete-button {
  background-color: #dc3545;
  color: white;
}

button.delete-button:hover {
  background-color: #c82333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
}

.page-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.page-button:hover:not(:disabled) {
  background-color: #0056b3;
}


select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select:focus {
  border-color: #0056b3;
}


input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #0056b3;
}


th, td {
  padding: 12px;
}

td {
  text-align: center;
}


td > button {
  margin-right: 5px;
}
